<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Carsole</a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-white" href="#">Link</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link disabled text-secondary  " href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      
      </div>
    </div>
  </nav>
