<section>
  <div class="container">
    <div class="row">
        <div class=" col-md-6 mt-3 p-5" >
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptates itaque voluptatum error. Deserunt ducimus sunt natus repellat eligendi officia cupiditate, neque ut praesentium. Quae voluptatibus modi perferendis atque quibusdam!</p>
            </div>
            <div class="col-md-6 mt-3 p-5">
                <img src="../assets/146005.png" width="300px p-3 mt-5"   alt="...">
            </div>

    </div>

  </div>
</section>